extends layout

block script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js")
  script(type="text/javascript" src="/javascripts/dest/hello-react.js")
block content
  h1= title
  p Welcome to #{title}
  div(id="app-container")
  div(ref="test") test
